In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\tatyzc\anaconda3\envs\intro.anaconda\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\tatyzc\anaconda3\envs\intro.anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tatyzc\anaconda3\envs\intro.anaconda\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tatyzc\anaconda3\envs\intro.anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tatyzc\anaconda3\envs\intro.anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\tatyzc\anaconda3\envs\intro.anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd

In [2]:


!pip install xlrd

Requirement already satisfied: xlrd in c:\users\tatyzc\anaconda3\lib\site-packages (2.0.1)

In [3]:
sharks = pd.read_excel("GSAF5.xlxs")

In [5]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6944 non-null   object
 1   Year            6942 non-null   float64
 2   Type            6926 non-null   object
 3   Country         6894 non-null   object
 4   State           6462 non-null   object
 5   Location        6379 non-null   object
 6   Activity        6358 non-null   object
 7   Name            6724 non-null   object
 8   Sex             6365 non-null   object
 9   Age             3950 non-null   object
 10  Injury          6909 non-null   object
 11  Unnamed: 11     6382 non-null   object
 12  Time            3418 non-null   object
 13  Species         3812 non-null   object
 14  Source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [6]:
sharks.shape

(6969, 23)

In [8]:
sharks.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
sharks.tail

<bound method NDFrame.tail of              Date    Year        Type    Country              State  \
0     15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland
1     04 Mar 2024  2024.0  Unprovoked        USA             Hawaii
2     02 Mar-2024  2024.0  Unprovoked        USA             Hawaii
3     25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia
4     14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra
...           ...     ...         ...        ...                ...
6964          NaN     NaN         NaN        NaN                NaN
6965          NaN     NaN         NaN        NaN                NaN
6966          NaN     NaN         NaN        NaN                NaN
6967          NaN     NaN         NaN        NaN                NaN
6968          NaN     NaN         NaN        NaN                NaN

                              Location  Activity                 Name  Sex  \
0                        Bargara Beach  Swimming       Brooklyn Sauer    F
1                   Old Man's, Waikiki   Surfing        Matthew White    M
2                       Rainbows, Oahu  Swimming                  NaN    F
3           Sandlnd Island, Jurian Bay       NaN               female    F
4     Vaitarna River, Palghar District   Fishing  Vicky Suresh Govari    M
...                                ...       ...                  ...  ...
6964                               NaN       NaN                  NaN  NaN
6965                               NaN       NaN                  NaN  NaN
6966                               NaN       NaN                  NaN  NaN
6967                               NaN       NaN                  NaN  NaN
6968                               NaN       NaN                  NaN  NaN

      Age  ...        Species                      Source  pdf  \
0      13  ...     Tiger shark      Yahoo News, 3/15/2024  NaN
1     NaN  ...  Tiger shark 8'          Surfer, 3/6/2024F  NaN
2      11  ...  3' to 4' shark  Hawaii News Now, 3/4/2024  NaN
3      46  ...     Tiger shark        WA Today, 2/26/2024  NaN
4      32  ...  Bull shark, 7'  Times of India, 2/14/2024  NaN
...   ...  ...             ...                        ...  ...
6964  NaN  ...             NaN                        NaN  NaN
6965  NaN  ...             NaN                        NaN  NaN
6966  NaN  ...             NaN                        NaN  NaN
6967  NaN  ...             NaN                        NaN  NaN
6968  NaN  ...             NaN                        NaN  NaN

                                           href formula href Case Number  \
0                                                   NaN  NaN         NaN
1                                                   NaN  NaN         NaN
2                                                   NaN  NaN         NaN
3                                                   NaN  NaN         NaN
4                                                   NaN  NaN         NaN
...                                                 ...  ...         ...
6964  http://sharkattackfile.net/spreadsheets/pdf_di...  NaN         NaN
6965  http://sharkattackfile.net/spreadsheets/pdf_di...  NaN         NaN
6966  http://sharkattackfile.net/spreadsheets/pdf_di...  NaN         NaN
6967  http://sharkattackfile.net/spreadsheets/pdf_di...  NaN         NaN
6968  http://sharkattackfile.net/spreadsheets/pdf_di...  NaN         NaN

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
6964           NaN            NaN         NaN         NaN
6965           NaN            NaN         NaN         NaN
6966           NaN            NaN         NaN         NaN
6967           NaN            NaN         NaN         NaN
6968           NaN            NaN         NaN         NaN

[6969 rows x 23 columns]>

In [10]:
sharks.sample()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
2459,10-Jul-2002,2002.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Surfing,Mário César Carneiro da Silva,M,22,...,Bull or tiger shark,"P.M. Lopes, GSAF",2002.07.09.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2002.07.09.a,2002.07.09.a,4483.0,NaN,NaN

In [11]:
sharks['Country'].value_counts()

Country
USA                   2538
AUSTRALIA             1481
SOUTH AFRICA           597
NEW ZEALAND            144
BAHAMAS                136
                      ...
PUERTO RICO              1
RED SEA                  1
Coral Sea                1
BRITISH ISLES            1
CEYLON (SRI LANKA)       1
Name: count, Length: 225, dtype: int64

In [17]:
sharks['State'].value_counts()

State
Florida                1178
New South Wales         521
Queensland              347
Hawaii                  341
California              323
                       ...
Shizuoka Prefecture       1
Brindisi Province         1
Kagawa Prefecture         1
 Upolu Island             1
Moala Island              1
Name: count, Length: 902, dtype: int64

In [20]:
sharks['Location'].value_counts()

Location
New Smyrna Beach, Volusia County                            191
Daytona Beach, Volusia County                                31
Ponce Inlet, Volusia County                                  28
Myrtle Beach, Horry County                                   22
Melbourne Beach, Brevard County                              20
                                                           ...
Limay                                                         1
Pau Amarelo Beach, Paulista District (17 km from Recife)      1
Melbourne Beach, Brevard County                               1
Shepard Park, Cocoa Beach, Brevard County                     1
Below the English fort, Trincomalee                           1
Name: count, Length: 4514, dtype: int64

In [21]:
sharks['Year'].value_counts()

Year
2015.0    143
2017.0    139
2016.0    131
0.0       129
2011.0    128
         ...
1784.0      1
1783.0      1
1780.0      1
1779.0      1
1819.0      1
Name: count, Length: 259, dtype: int64

In [22]:
sharks['Type'].value_counts()

Type
Unprovoked             5107
Provoked                635
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [23]:
sharks['Activity'].value_counts()

Activity
Surfing                                                        1121
Swimming                                                        976
Fishing                                                         488
Spearfishing                                                    382
Wading                                                          174
                                                               ...
Fishing boat swamped in a storm                                   1
Free diving (but on surface)                                      1
Adrift after the sinking of the motor yacht Princess Dianne       1
Free diving for abalone (submerged)                               1
Wreck of  large double sailing canoe                              1
Name: count, Length: 1587, dtype: int64

In [24]:
sharks['Name'].value_counts()

Name
male                680
female              136
boy                  23
2 males              17
boat                 14
                   ...
John McGovern         1
Martin Gunda          1
Joseph Krone          1
Deborah Franzman      1
Jules Patterson       1
Name: count, Length: 5683, dtype: int64

In [25]:
sharks['Sex'].value_counts()

Sex
M        5578
F         779
M           2
N           2
 M          1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

In [26]:
sharks['Age'].value_counts()

Age
19          89
16          89
17          88
17          85
15          84
            ..
84           1
36 & 26      1
77           1
Teens        1
13 or 14     1
Name: count, Length: 243, dtype: int64

In [27]:
sharks['Injury'].value_counts()

Injury
FATAL                                                                              863
Foot bitten                                                                        100
Survived                                                                            97
No injury                                                                           85
Leg bitten                                                                          81
                                                                                  ...
Right calf & heel bitten                                                             1
Multiple bites to foot after jumping off surfboard onto shark PROVOKED INCIDENT      1
Shallow  lacerations to left  thigh PROVOKED INCIDENT                                1
Bitten on finger                                                                     1
FATAL. "Shark bit him in half, carrying away the lower extremities"                  1
Name: count, Length: 4079, dtype: int64

In [29]:
sharks['Unnamed: 11'].value_counts()

Unnamed: 11
N          4832
Y          1460
UNKNOWN      71
 N            7
M             3
F             3
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: count, dtype: int64

In [31]:
sharks['Time'].value_counts()

Time
Afternoon       215
11h00           140
Morning         135
15h00           127
16h00           123
               ...
10h27             1
10h16             1
14h09             1
Before 07h00      1
19h00-20h00       1
Name: count, Length: 410, dtype: int64

In [34]:
sharks['Species '].value_counts()

Species
White shark                                                                                                                      194
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   92
Tiger shark                                                                                                                       89
                                                                                                                                ...
1.2 m to 1.8 m [4' to 6'] shark                                                                                                    1
Grey nurse shark, 3 m female                                                                                                       1
Porbeagle shark, 3 m [10']rk                                                                                                       1
White shark, 4.5 m [14'9"]                                                                                                         1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1675, dtype: int64

In [35]:
sharks['Source'].value_counts()

Source
K. McMurray, TrackingSharks.com                                                                                       131
C. Moore, GSAF                                                                                                        105
C. Creswell, GSAF                                                                                                     101
S. Petersohn, GSAF                                                                                                     82
B. Myatt, GSAF                                                                                                         59
                                                                                                                     ...
S. Petersohn, GSAF; M. I. Johnson,  Daytona Beach News Journal, 9/19/2000, p.1A; Orlando Sentinel, 9/9/2000 , p.D2      1
E. Matechi; A. Mbogora                                                                                                  1
Fort Pierce Tribune, 9/12/2000                                                                                          1
S. Petersohn, GSAF; Daytona  Beach News Journal, 9/12/2000, p.1.A; Orlando Sentinel, 9/12/2000, p.D2                    1
S.W. Baker                                                                                                              1
Name: count, Length: 5302, dtype: int64